@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: Montserrat !important;
  font-size: 16px;
}

@-ms-viewport {
  width: device-width
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat !important;
  color: #414042;
}

:root {
  --primary: #1D2856;
  --secondary: #E76A35;
}

.bg-default {
  background-color: var(--primary) !important;
}

.modal-secondary .close>span:not(.sr-only) {
  --default: #E76A35;
}

header.header-global {
  display: none;
}

.modal-secondary .close>span:not(.sr-only) {
  color: var(--bslib-page-sidebar-title-bg);
}

.modal-open .modal {
  backdrop-filter: blur(5px) !important;
}

.modal-dialog-centered {
  align-items: normal;
}

.modal-dialog {
  max-width: 1056px;
}

#modal-content {
  position: relative;
}

#hover-div {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10px;
  z-index: 10;
}

#modal-content:hover #hover-div {
  display: block;
}

#prev_btn,
#next_btn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

#modal-content:hover #prev_btn {
  display: block;
  left: 10px;
}

#modal-content:hover #next_btn {
  display: block;
  right: 10px;
}

.progress-percentage {
  display: none;
}

.header {
  padding-top: 20px !important;
}

.input-group .form-control:not(:first-child) {
  padding-left: 10px;
}

.description {
  text-align: center;
}

.hover-content {
  position: relative;
}

.hover-content:hover .hover-div {
  display: block;
}

.hover-div {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none;
  width: auto;
}

.form-control:focus {
  border-color: #777;
  box-shadow: 0 0 3px #1d2856;
}


.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-file {
  margin-bottom: -0.5rem !important;
  background-color: var(--primary);
  border: var(--secondary);
}

.btn:hover {
  background-color: var(--secondary);
  border: 0;
}

.progress.shiny-file-input-progress {
  height: 15px;
}

.input-group {
  padding-bottom: 0.25rem !important;
}

.swal2-popup.swal2-toast {
  padding-top: 0.2rem !important;
  font-size: 1rem !important;
}

.swal2-popup {
  font-size: 1rem !important;
}

.mt--1,
.my--1 {
  margin-top: -22.25rem !important;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
  float: right;
}

.header {
  background-size: inherit !important;
}

.dropdown-header {
  font-size: 0.9rem;
  color: #6f6f6f;
}

.navbar-vertical.navbar-expand-lg .navbar-brand-img {
  max-height: 7.5rem;
}

.my-0 {
  margin-bottom: -1.5rem !important;
}

.text-body {
  color: var(--secondary) !important;
}

.nav-pills .nav-link {
  color: var(--primary);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--primary);
}

.bg-translucent-info {
  background-color: var(--secondary) !important;
}

body {
  color: var(--primary);
}

.dropdown-item {
  color: var(--primary);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary);
}

.action-button {
  background-color: var(--primary);
  color: white;

}

.selectize-input {
  min-height: 40px;
}

a#auth-reset_password {
  background-color: transparent;
  color: #5e72e4;
}

.fa,
.far,
.ni,
.fas {
  color: var(--secondary);
}

button#log_out_session,
button#user_profile_edit {
  background-color: white;
  color: #1d2856;
}

.row {
  flex-wrap: nowrap;
}

.sweet-alert .sa-icon.sa-custom {
  background-size: cover;
}

.fade-in {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a#home_link,
a#contact_us_link,
a#about_us_link,
a#login_link,
a#teachers_link,
a#students_link,
a#log_link {
  color: white;
  background-color: transparent;
  font-weight: 900;
}

a#home_link:hover,
a#login_link:hover,
a#teachers_link:hover,
a#contact_us_link:hover,
a#about_us_link:hover,
a#students_link:hover,
a#log_link:hover {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

html {
  scroll-behavior: smooth;
}

h2.text-left.text-uppercase {
  margin-bottom: -2px;
  font-weight: 700;
}

label {
  display: flex;
  margin-bottom: 10px;
}


.form-control {
  height: 40px;
}

.awesome-checkbox input[type="checkbox"]:focus+label::before,
.awesome-checkbox input[type="radio"]:focus+label::before {
  outline: 0px auto -webkit-focus-ring-color !important;
}

.modal-backdrop {
  position: relative;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: white;
  color: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

/* disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.input-error {
  border: 2px solid red;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  transition: all 0.5s;
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  border-bottom: 1px solid #e6f2fb;
}

header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

header .logo {
  font-size: 28px;
  margin-left: -20px;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
}

header .logo a {
  color: #16507b;
}

header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  header .logo {
    font-size: 28px;
  }
}

button#register_now {
  line-height: 2.0 !important;
  font-size: large !important;
  color: var(--primary);
  background-color: white;
}

button#lets_partner {
  border: 0;
  line-height: 2.0 !important;
  font-size: large !important;
}

button#register_now_1 {
  line-height: 2.0 !important;
  font-size: large !important;
  border: 0;
}

button#register_now:hover,
button#lets_partner:hover,
button#register_now_1:hover {
  color: white;
  background-color: var(--secondary);
}



.back-to-top:hover {
  background-color: var(--secondary);
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 30px;
}


.nav-link:hover {
  color: var(--secondary);
}

.nav-link {
  color: white;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 17px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}


.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #124265;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10, 38, 58, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #124265;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}


.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("../logo/background_image.png") top center;
  background-size: cover;
  position: fixed;
}

.hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero .container {
  padding-top: 80px;
}

.hero #short_exp {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
}

.hero #long_exp {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}


.hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.hero .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

.hero .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: var(--bluish);
}

.hero .icon-box:hover {
  transform: scale(1.08);
}

.hero .icon-box:hover .title a {
  color: var(--bluish);
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  .hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Login */
.login-container {
  display: grid;
  align-items: center;
}


/*
Firebase UI
*/
.progressbar {
  background-color: var(--bluish) !important;
}

.mdl-button--raised.mdl-button--colored {
  background: var(--bluish) !important;
  color: #fff;
  border-radius: 4px;
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: #3194db !important;
}

.mdl-button.mdl-js-button.mdl-button--primary {
  color: var(--bluish) !important;
}

.firebaseui-link {
  color: var(--bluish) !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--bluish) !important;
}

/*--------------------------------------------------------------
select dropdowns
--------------------------------------------------------------*/