@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat !important;

}

body {
  font-family: Montserrat !important;
  color: #444444;
}

:root {
  --primary: #163142;
  --secondary: #50BD8C;
  --greyfont: #414042;
}

.bg-default {
  background-color: var(--primary) !important;
}

.text-body-1 {
  color: #163142;
}

.bg-orange-1 {
  background-color: #50BD8C;
}

.text-orange-1 {
  color: #50BD8C;
}

.text-secondary-1 {
  color: #E86A31;
}

button#register_now {
  line-height: 2.2 !important;
  font-size: large !important;
  color: var(--primary);
  background-color: white;
  font-weight: 900;
  border: 0;
  box-shadow: 1px 1px 5px black;
}

button#lets_partner,
button#register_now_1 {
  line-height: 2.2 !important;
  font-size: large !important;
  color: white;
  background-color: var(--primary);
  font-weight: 900;
  border: 0;
  box-shadow: 1px 1px 5px black;
}

button#register_now:hover,
button#lets_partner:hover,
button#register_now_1:hover {
  color: white;
  border: 0;
  background-color: var(--secondary);
}

a#home_link,
a#contact_us_link,
a#about_us_link,
a#login_link,
a#teachers_link,
a#students_link,
a#log_link {
  color: white;
  background-color: transparent;
  font-weight: 900;
}

a#home_link:hover,
a#login_link:hover,
a#teachers_link:hover,
a#contact_us_link:hover,
a#about_us_link:hover,
a#students_link:hover,
a#log_link:hover {
  color: var(--secondary);
}

a#contact_us,
a#about_us_down,
a#tos,
a#privacy_link {
  color: whitesmoke;
  text-decoration: none;
  background-color: transparent;
}

a#contact_us:hover,
a#about_us_down:hover,
a#tos:hover,
a#privacy_link:hover {
  color: var(--secondary);
}

/* sidebar user panel: */
.user-panel {
  align-items: end;
}

/* style divs containing `fileInput()`s: */

.file_input_container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.file_input_container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file_input {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px 0px rgb(67 76 94);
}

a:hover {
  color: var(--secondary);
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  box-shadow: 1px 1px 5px black;
}

.back-to-top i {
  font-size: 28px;
  color: white;
  line-height: 0;
}

.back-to-top.active {
  background: var(--primary);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--primary);
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

header.header-scrolled {
  border-color: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
}

header .logo a {
  color: #16507b;
}

header .logo img {
  max-height: 50px;
}

@media (max-width: 992px) {
  header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--secondary);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: var(--primary);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3194db;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--primary);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: var(--primary);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  border-radius: 3px;
  padding: 10px 0;
  background-color: var(--primary);
  box-shadow: 0rem 0rem 10px 0px rgb(255 255 255 / 53%) !important;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 900;
  color: white;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: var(--secondary);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--primary);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero .container {
  padding-top: 80px;
}

.hero #short_exp {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: #124265;
}

.hero #long_exp {
  color: #5e5e5e;
  margin: 10px 0 0 0;
  font-size: 22px;
}

.hero .btn-get-started {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: var(--primary);
}

.hero .btn-get-started:hover {
  background: #3194db;
}

.hero .icon-boxes {
  margin-top: 100px;
}

.hero .icon-box {
  width: 100%;
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.hero .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.hero .icon-box .title a {
  color: #124265;
  transition: 0.3s;
}

.hero .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.hero .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: var(--primary);
}

.hero .icon-box:hover {
  transform: scale(1.08);
}

.hero .icon-box:hover .title a {
  color: var(--primary);
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  .hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }

  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* div_rhandsontables */
.div_rhandsontables {
  border: 1px solid;
  border-radius: 4px;
  border-color: #45475f;
  padding: 1%;
  margin: 1%;
}

.div_params {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

/* Login */
.login-container {
  display: grid;
  align-items: center;
}

.login-loader,
.firebase-login {
  grid-area: 1 / 1;
}

.login-loader {
  margin: auto;
}

/*
Firebase UI
*/
.mdl-button--raised.mdl-button--colored {
  background: var(--primary) !important;
  color: #fff;
  border-radius: 4px;
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: #3194db !important;
}

.mdl-button.mdl-js-button.mdl-button--primary {
  color: var(--primary) !important;
}

.firebaseui-link {
  color: var(--primary) !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--primary) !important;
}

/*--------------------------------------------------------------
Fade In
--------------------------------------------------------------*/
.fade-in {
  opacity: 0;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*--------------------------------------------------------------
Collapsed cards
--------------------------------------------------------------*/
button.btn-tool.btn-sm[data-card-widget="collapse"] {
  color: var(--navy);
}

/*--------------------------------------------------------------
Tabbables
--------------------------------------------------------------*/
.content .tabbable .nav-link {
  padding-bottom: 1rem !important;
  color: var(--navy) !important;
}

.content .tabbable .nav-link:hover {
  border-color: transparent;
  border-bottom: 1px solid var(--green);
}

.content .tabbable .nav-link.active {
  border: 0 !important;
  border-bottom: 2px solid !important;
}

/*--------------------------------------------------------------
bs4Dash sidebar
--------------------------------------------------------------*/
.fa-angle-left:before {
  content: "\f105";
}

.nav-sidebar .menu-is-opening>.nav-link i.right,
.nav-sidebar .menu-open>.nav-link i.right {
  transform: rotate(90deg);
}

/*--------------------------------------------------------------
select dropdowns
--------------------------------------------------------------*/

.dropdown-item.active,
.dropdown-item:active {
  color: #fff !important;
  background-color: var(--primary);
}

/*--------------------------------------------------------------
shiny input containers
--------------------------------------------------------------*/
.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  max-width: 450px;
}

div.card-body .shiny-input-container {
  width: 100%;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
  border-color: #ced4da;
}

.dropdown.bootstrap-select.form-control {
  border: 1px solid #ced4da;
}

button.btn.btn-outline-light.dropdown-toggle {
  color: black;
}

.form-control:focus {
  border-color: #777;
  box-shadow: 0 0 3px #1d2856;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle {
  border-color: #777;
  box-shadow: 0 0 3px #1d2856;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 500;
}

.swal2-popup.swal2-toast {
  padding-top: 0.2rem !important;
  font-size: 1rem !important;
}

.swal2-popup.swal2-modal {
  font-size: 1rem !important;
}

a#auth-reset_password {
  background-color: transparent;
  color: var(--blue);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border: 0;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--secondary);
  border: 0;
}

.btn {
  line-height: 2.0;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--gray);
  border-color: #ddd;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: var(--primary);
  box-shadow: 0 0 0 0 rgb(38 143 255);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--primary);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--primary);
}

.nav-pills .nav-link {
  color: var(--primary);
}

.nav-pills .nav-link:not(.active):hover {
  color: var(--secondary);
}

.btn-file {
  background-color: var(--primary);
  line-height: 1.5;
  color: white;
}

.progress-bar {
  height: 15px;
  background-color: var(--primary);
}

.timeline-content {
  flex-grow: 1;
}

.timeline {
  list-style: none;
  padding: 0;
  position: relative;
  width: fit-content;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #ccc;
  left: 20px;
  margin-right: -1.5px;
}

.timeline-item {
  margin-bottom: 20px;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6c757d;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.timeline-content {
  margin-left: 60px;
  background: #f8f9fa;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.timeline-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-time {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.sweet-alert .sa-icon.sa-custom {
  background-size: cover;
}

.sweet-alert button.cancel {
  background-color: var(--secondary) !important;
}

.sweet-alert {
  font-family: 'Montserrat' !important;
}

.sweet-alert button {
  line-height: 1.6;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color !important;
}

.sweet-alert h2 {
  font-size: 25px !important;
  margin: 15px 0 !important;
  line-height: 1.5 !important;
}



.modal-open .modal {
  backdrop-filter: blur(5px) !important;
}

.hover-card {
  position: relative;
}

.card-details {
  display: none;
  position: absolute;
  bottom: 0;
  color: white;
  line-height: 0.5;
  font-size: small;
  width: 100%;
  border-radius: 5px;
}

.hover-card:hover .card-details {
  display: block;
}

/* auth_form_loader */
.auth_form_loader {
  width: 100%;
  height: 2.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  overflow: hidden;
}

.auth_form_loader::after {
  content: "";
  width: 192px;
  height: 4.8px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }

  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.awesome-checkbox label::before {
  margin-left: 0px !important;
}

.mask {
  position: absolute;
  background-position: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
}